:root {
    --dark-blue: #003049;
    --beige: #ffffff;
    --yellow: #FCBF49;
    --red: #D62828;
    --orange: #F77F00;
    --flower-symbol: '\2055';
}

@font-face {
    font-family: retro;
    src: url("../font/ChevadisplayRegular-1G5ve.otf") format("opentype");
}


h1 {
    /* 4rem = 40px (4 * 10px) */
    font-size: 7rem;
  }
  
h2 {
    font-size: 5rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1rem;
}

header {
    background-color: var(--dark-blue);
    color: var(--beige);
    font-family: retro;
    width: 100%;
    padding: 1rem;
    text-shadow: -1px 0 var(--beige), 0 1px var(--beige), 1px 0 var(--beige), 0 -1px var(--beige);

}


nav {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

header h1 {
    /* display: inline; */
    text-align: left;
    margin-left: 2.5rem;
}



nav ul {
    align-self: right;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5rem;
}

nav ul li{
     display: inline-block;
     list-style-type: none;
     margin-left: 1rem;
 }

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}


header a:hover {
    color: #ffc99d;
}

body {
    background-color: var(--beige);
    color: var(--dark-blue);
}

#super-container {
 display: flex;
 flex-direction: row;
}

aside {
    flex-basis: 25%;
    height: 100%;
    flex-shrink: 0;
    flex-grow: 20;
}


 main {
     display: flex;
     justify-content: center;
     flex-direction: column;
     flex-shrink: 20;
     flex-grow: 0;
     margin-right: 3rem;
 }

#avatar {
    display: flex;
    justify-content: center;
}

#avatar img {
    position: relative;
    margin-left: 4rem;
}

.container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0.5rem;
    flex-shrink: 0;
    flex-grow: 1;
}

.card {
    padding: 1rem;
    flex: 0 0 18rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
}



.card-header {
    position: relative;
    margin-top: -3.25rem;
    padding: 0.5rem;
    width: max-content;
    color: var(--dark-blue);
    /* text-shadow: -1px 0 var(--beige), 0 1px var(--beige), 1px 0 var(--beige), 0 -1px var(--beige); */
    font-family: retro ;
    background-color: var(--beige);
}

.card-content {
    display: inline-block;
    word-wrap: normal;
    position: relative;
    margin-top: 1.75rem;
    margin-left: 0rem;
    margin-right: 3rem;

    font-family: Arial, Helvetica, sans-serif;
}



.bg-border1 {
    position: relative;
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: var(--red);
    border-width: 1rem;
    border-top-right-radius: 4rem;
    border-bottom-left-radius: 2.0rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    margin-top: -2rem;
    margin-right: -2rem;
    /* box-shadow: -0.25rem 0.25rem 0.25rem 0rem rgba(165, 42, 42, 0.342); */
}



.bg-border2 {
    position: relative;
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: var(--orange);
    border-width: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;

    margin-top: -2rem;
    margin-right: -2rem;
}

.bg-border3 {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    border-style: solid;
    border-color: var(--yellow);
    border-width: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;

} 

#about {

}


#work .card-content {
    display: flex;
    flex-direction: column;
}

.subcard {
    float: center;
    width: 96%;
    margin: auto;
    margin-right: 4%;
    margin-bottom: 1rem;
    background-size: cover;
    /* background-color: #002f495b; /* Tint color */
    /* background-blend-mode: multiply; */
    border-radius: 1rem;
    display: flex;
    border-style: solid;
    border-color: var(--dark-blue);
    border-width: 0.5rem;
    /* display: flex; */
    text-align: center;
}

.subcard:hover {
    background-image: none;
}
.subcard:hover h3, .subcard:hover h4{
    color: var(--dark-blue);
    text-shadow: none;
} 

.subcard-title{
    margin: auto;
    font-family: retro;
    color: var(--beige);
    text-shadow: -1px 0 var(--dark-blue), 0 1px var(--dark-blue), 1px 0 var(--dark-blue), 0 -1px var(--dark-blue);
}



.primary-subcard{
    background-image: url("../images/bg-1-jason-leung.jpg");
    height: 30rem;
}

.minor-subcard {
    height: 10rem;
}


#subcard-2 {
    background-image: url("../images/li-zhang-me4ymQcuImg-unsplash.jpg");
}

#subcard-3 {
    background-image: url("../images/alt-bg-4-pexels-dids-3045825.jpg");
}

#subcard-4 {
    background-image: url("../images/simon-lee-zft-W1kVEhg-unsplash.jpg");
}

#subcard-2:hover, #subcard-3:hover, #subcard-4:hover {
    background-image: none;
}

#contact .card-content {
    display: flex;
}

#contact ul {
    align-items: center;
    justify-content: center;
    align-content: space-between;
}
#contact ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 5rem;
    margin-right: 5rem;
    position: relative;
}

#contact p {
    display: inline;
}

#contact a {
    position: relative;
    height: 4rem;
}


#contact img {
    position: relative;
    height: 4rem;
}


footer {
    background-color: var(--dark-blue);
    color: var(--beige);
    font-family: retro;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

footer h5::before{
    content: var(--flower-symbol);
    margin-right: 1rem;
}

footer h5::after{
    content: var(--flower-symbol);
    margin-left: 1rem;
}




/* tablet or half web browser */
@media screen and (max-width: 1290px){
    nav {
        display: unset;

    }
    nav ul li {
        margin-left: 2.5rem;
        margin-right: 0.5rem;
    }
    nav ul:last-child {
        margin-right: 0rem;
    }

    header h1{
        display: block;
        text-shadow: none;
    }

    header h3 {
        text-shadow: none;
    }
    aside {
        flex-basis: 15%;
    }
}

/* larger phone */


/* smaller phone screen */
@media screen and (max-width: 450px) {
    nav {
        display: unset;

    }
    nav ul li {
        margin-left: 0;
        margin-right: 0.5rem;
    }
    nav ul:last-child {
        margin-right: 0rem;
    }

    header h1{
        display: block;
        font-size: 3.5rem; 
        text-shadow: none;
    }

    header h3 {
        font-size: 2rem;
        text-shadow: none;
    }

    .container {
        margin-left: 1rem;
        margin-right: auto;
        width: 80%;
    }

    .card-header h2 {
        font-size: 3.5rem;
        margin-top: 0.5rem;
    }

    .card-content {
       width: 80%; 
    }

    .subcard-title h3 {
        font-size: 2rem;
    }
    .subcard-title h4 {
        font-size: 1.5rem;
    }
    /* Change the header color */
  }
